<h1 class="logo">
  <a title="Logotipo Institucional. Enlace a página web del Ministerio de Empleo y Seguridad Social en una ventana nueva."
    href="http://www.empleo.gob.es/es/index.htm" target="_blank"><img class="only-lrg" alt="Logotipo institucional"
      src="https://sede.seg-social.gob.es/comun/error/img/logo-institucional.png"></a>
  <a title="Inicio" class="home" href="https://sede.seg-social.gob.es"><img class="logsede"
      alt="Sede electrónica de la Seguridad Social" src="https://sede.seg-social.gob.es/comun/error/img/logo-ss-sedeElectronica.png"></a>
</h1>
